{% extends "layout.html" %} {% block content %}
<div class="form_container p-3 mt-3 w-75 mx-auto rounded-3 mb-5">
  <h1 class="form_heading pr-5 fs-1" style="display: inline">Delete</h1>
  <hr />
  <h2 class="fs-2">{{item_category}}</h2>
  <h3 class="fs-3 px-5">
    Are You Sure You Want To Delete The {{item_category}}: {{item}}?
  </h3>
  <hr />
  <form method="POST">
    {% csrf_token %}
    <button
      class="rounded-pill border-0 fs-5 px-4 py-2 mb-3 form_submit_button"
      type="submit"
    >
      Delete
    </button>
  </form>
</div>
{% endblock content %}
